    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    /*Scroll-bar*/
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .profile-head {
        transform: translateY(5rem)
    }

    /* fondo cuerpo */
    body {
        background-color: #f0f4f8 !important;
    }

    .fondofooter {
        background: linear-gradient(to right bottom, #fff 50%, #42a89e 50%);
        /* background: linear-gradient(135deg, #3d7aef, #2b4be4) !important;*/
        color: #000000;
    }

    /* .fondocontenido{
        background: url("../../../domcli/assets/images/fondocontenido.png") no-repeat top center;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* imagen inicio */
    .box {
        background-image: url("../../../domcli/assets/images/fondoinicio3.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center, center;
    }

    /* la aplicación envía mensaje a wpp con el pedido previamente seleccionado en la página
     */

    /* .container {
        max-width: 960px;
    } */

    .pricing-header {
        max-width: 700px;
    }

    .card-deck .card {
        min-width: 220px;
    }

    .logo {
        width: 120px;
        height: 55px;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    /* Nuevos botones */
    .btn-color1 {
        color: #fff;
        background-color: #18a293;
        border-color: #18a293;
    }

    .btn-color1:hover {
        color: #fff;
        background-color: #10786d;
        border-color: #0f6d63;
    }

    .btn-color1:focus,
    .btn-color1.focus {
        color: #fff;
        background-color: #10786d;
        border-color: #0f6d63;
        box-shadow: 0 0 0 0.2rem rgba(28, 180, 163, 0.5);
    }

    .btn-color1.disabled,
    .btn-color1:disabled {
        color: #fff;
        background-color: #18a293;
        border-color: #18a293;
    }

    .btn-color1:not(:disabled):not(.disabled):active,
    .btn-color1:not(:disabled):not(.disabled).active,
    .show>.btn-color1.dropdown-toggle {
        color: #fff;
        background-color: #10786d;
        border-color: #0f6d63;
    }

    .btn-color1:not(:disabled):not(.disabled):active:focus,
    .btn-color1:not(:disabled):not(.disabled).active:focus,
    .show>.btn-color1.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(28, 180, 163, 0.5);
    }

    .btn-color2 {
        color: #fff;
        background-color: #ff6d00;
        border-color: #ff6d00;
    }

    .btn-color2:hover {
        color: #fff;
        background-color: #df6103;
        border-color: #ca5702;
    }

    .btn-color2:focus,
    .btn-color2.focus {
        color: #fff;
        background-color: #df6103;
        border-color: #ca5702;
        box-shadow: 0 0 0 0.2rem rgba(218, 95, 4, 0.7);
    }

    .btn-color2.disabled,
    .btn-color2:disabled {
        color: #fff;
        background-color: #ff6d00;
        border-color: #ff6d00;
    }

    .btn-color2:not(:disabled):not(.disabled):active,
    .btn-color2:not(:disabled):not(.disabled).active,
    .show>.btn-color2.dropdown-toggle {
        color: #fff;
        background-color: #df6103;
        border-color: #ca5702;
    }

    .btn-color2:not(:disabled):not(.disabled):active:focus,
    .btn-color2:not(:disabled):not(.disabled).active:focus,
    .show>.btn-color2.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(218, 95, 4, 0.7);
    }

    .masbuscados,
    .mejorpuntuacion {
        background-color: #ff6d00;
        border: 1px solid;
        color: rgb(255, 255, 255);
        line-height: 55px;
        width: 250px;
        margin: 0 auto;
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        border-top-width: .0625rem;
        border-bottom-width: calc(.2rem + .0625rem);
        border-color: rgba(0, 0, 0, 0.3);
    }

    #lblTitulo {
        color: #97979b;
        font-size: 4rem;
    }

    .sombra {
        border-top-width: .0625rem;
        border-bottom-width: calc(.2rem + .0625rem);
        border-color: rgba(0, 0, 0, 0.3);
    }

    select {
        width: 100%;
        height: 50px;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0;
        background-color: #c0392b;
        border: none;
        border-bottom: 2px solid #962d22;
        color: white;
        appearance: none;
        padding: 10px;
        padding-right: 38px;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
    }

    /* For IE <= 11 */
    select::-ms-expand {
        display: none;
    }

    .select-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 30px;
        height: 36px;
        pointer-events: none;
        border: 2px solid #962d22;
        padding-left: 5px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .select-icon svg.icon {
        transition: fill 0.3s ease;
        fill: white;
    }

    select:hover,
    select:focus {
        color: #c0392b;
        background-color: white;
        border-bottom-color: #DCDCDC;
    }

    select:hover~.select-icon,
    select:focus~.select-icon {
        background-color: white;
        border-color: #DCDCDC;
    }

    select:hover~.select-icon svg.icon,
    select:focus~.select-icon svg.icon {
        fill: #c0392b;
    }

    .stars>i {
        color: #ffc700;
    }