html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*Scroll-bar*/
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profile-head {
    transform: translateY(5rem)
}

/* fondo cuerpo */
body {
    background-color: #f1ecec !important;
}

.fondofooter {
    background: linear-gradient(to right bottom, #fff 50%, #42a89e 50%);
    color: #000000;
}

/* .fondocontenido{
    background: url("../../../domcli/assets/images/fondocontenido.png") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
} */

/* imagen inicio */
.box {
    background-image: url("../../../domcli/assets/images/fondoinicio3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center, center;
}

/* la aplicación envía mensaje a wpp con el pedido previamente seleccionado en la página
    */

/* .container {
    max-width: 960px;
} */

.card-deck .card {
    min-width: 220px;
}

.logo {
    width: 120px;
    height: 55px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Nuevos botones */
.btn-color1 {
    color: #fff;
    background-color: #18a293;
    border-color: #18a293;
}

.btn-color1:hover {
    color: #fff;
    background-color: #10786d;
    border-color: #0f6d63;
}

.btn-color1:focus,
.btn-color1.focus {
    color: #fff;
    background-color: #10786d;
    border-color: #0f6d63;
    box-shadow: 0 0 0 0.2rem rgba(28, 180, 163, 0.5);
}

.btn-color1.disabled,
.btn-color1:disabled {
    color: #fff;
    background-color: #18a293;
    border-color: #18a293;
}

.btn-color1:not(:disabled):not(.disabled):active,
.btn-color1:not(:disabled):not(.disabled).active,
.show>.btn-color1.dropdown-toggle {
    color: #fff;
    background-color: #10786d;
    border-color: #0f6d63;
}

.btn-color1:not(:disabled):not(.disabled):active:focus,
.btn-color1:not(:disabled):not(.disabled).active:focus,
.show>.btn-color1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 180, 163, 0.5);
}

.btn-color2 {
    color: #fff;
    background-color: #ff6d00;
    border-color: #ff6d00;
}

.btn-color2:hover {
    color: #fff;
    background-color: #df6103;
    border-color: #ca5702;
}

.btn-color2:focus,
.btn-color2.focus {
    color: #fff;
    background-color: #df6103;
    border-color: #ca5702;
    box-shadow: 0 0 0 0.2rem rgba(218, 95, 4, 0.7);
}

.btn-color2.disabled,
.btn-color2:disabled {
    color: #fff;
    background-color: #ff6d00;
    border-color: #ff6d00;
}

.btn-color2:not(:disabled):not(.disabled):active,
.btn-color2:not(:disabled):not(.disabled).active,
.show>.btn-color2.dropdown-toggle {
    color: #fff;
    background-color: #df6103;
    border-color: #ca5702;
}

.btn-color2:not(:disabled):not(.disabled):active:focus,
.btn-color2:not(:disabled):not(.disabled).active:focus,
.show>.btn-color2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(218, 95, 4, 0.7);
}

.masbuscados,
.mejorpuntuacion {
    background-color: #1e5f62;
    border: 1px solid;
    color: rgb(255, 255, 255);
    line-height: 55px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-top-width: .0625rem;
    border-bottom-width: calc(.2rem + .0625rem);
    border-color: rgba(0, 0, 0, 0.3);
}

#lblTitulo {
    color: #97979b;
    font-size: 4rem;
}

.sombra {
    border-top-width: .0625rem;
    border-bottom-width: calc(.2rem + .0625rem);
    border-color: rgba(0, 0, 0, 0.3);
}

.stars > i {
    color: #ffc700;
    padding-right: 5px;
}

.my-card {
    border: none;
    box-shadow: 0 0.1rem 0.5rem #dbdcde;
    transition: box-shadow 0.3s ease;
}

.my-card:hover {
    box-shadow: 0 0.3rem 0.8rem gray;
}

.badge-star {
    position: absolute;
    background-color: #81818158;
    border-radius: 5px;
    text-align: center;
    padding: 5px 7px 5px 7px;
    margin: 8px;
    font-size: .8rem;
    font-weight: 500;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.219); */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
}

/* .home-categories {
} */

.home-category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    font-size: .9rem;
    background-color: #fff;
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    height: 110px;
    outline: none;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .3s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

.home-category:hover {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

/* .home-category svg {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 3px;
    right: 5px;
} */

.category-color1 {
    background-color: #fef0be;
}
.category-color1:hover {
    background-color: rgb(251, 222, 116);
}

.category-color2 {
    background-color: #b1c9f5;
}
.category-color2:hover {
    background-color: rgb(123, 167, 248);
}

.category-color3 {
    background-color: #f9bbcb;
}
.category-color3:hover {
    background-color: rgb(252, 123, 157);
}

.category-color4 {
    background-color: #c5f5b8;
}
.category-color4:hover {
    background-color: rgb(155, 254, 127);
}

.category-color5 {
    background-color: #f69dea;
}
.category-color5:hover {
    background-color: rgb(247, 131, 242);
}

.selectize-input {
    text-align: left;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    object-position: center;
}